:root{
    --cor-de-fundo:#f8e8e8;
    --verde:#f7fcfc;
    --branco: #f0ebeb;
    --botao-ativo: #440e40;
    --botao-inativo: #0a1458;
    --texto-de-fundo:#5e6278;
}


body{
    background-color: rgb(74, 30, 124);
    color: rgb(248, 243, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: center;
}
.botão{
    background-color: rgb(204, 21, 241);
    font-size: 30px;
    border-radius: 10px;
    color: rgb(237, 238, 231);
    margin: 10px;
    padding: 20px;
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    width: 20px;
    align-items: center;
    margin: 0 auto;
}
.imagem1{
    width: 250px;
    height: 250px;
}
.meta{
  display: flex;
  padding: 15px;
}